.home-page {
    width: 100%;
    height: 120vh;
    position: relative;
    overflow-x: hidden;
}

.home-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
}

.carousel-image-wrapper {
    position: relative;
    width: 100%;
    height: 75%;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

.carousel-image {
    width: 100%;
    height: 120%;
    object-fit: cover;
    opacity: 0;
    filter: brightness(30%);
    animation: fadeIn 1s ease-in-out forwards;
    background-color: rgb(32, 32, 32);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.02);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.home-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
    width: 80%;
    max-width: 1500px;
}


.home-text h1 {
    font-size: 2.6em;
    margin: 0;
    color: rgb(255, 255, 255);
}


.home-text h3 {
    font-size: 2em;
    margin: 0;
    color: rgb(172, 172, 172);
}

.home-page button h3 {
    -webkit-text-stroke: 0;
    font-size: 1.3em;
    color: black;
}

.home-text button {
    all: unset;
    color: black;
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    margin-top: 1.5em;

    &:hover {
        opacity: 75%;
        cursor: pointer;
    }
}

.home-text span {
    color: rgb(255, 217, 0);
}

.vertical-contact {
    position: absolute;
    top: 35%;
    right: -1.5%;
    transform: rotate(-0.25turn);
}

.vertical-contact button {
    width: 10em;
    height: 3em;
    background-color: rgb(255, 217, 0);
    color: black;
    border-radius: 2em;

    &:hover {
        cursor: pointer;
        opacity: 75%;
    }
}