.navbar{
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(55, 55, 55);
}

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
}

.logo-top{
    display: flex;
    align-items: start;
}

.logo-top img{
    height: 6em;
}

.logo-bottom{
    position: absolute;
    left: 8.7em;
    top: 50%;
    font-size: 0.7em;
    width: max-content;
}

.logo-bottom h3{
    color: white;
}

.nav-links ul, li{
    all: unset;
    color: white;
    gap:2em;
    display: flex;
    flex-direction: row;
}

.nav-links li{
    &:hover{
        opacity: 75%;
        cursor: pointer;
    }
}

.nav-contact-btn button{
    all: unset;
    color: black;
    height: 2em;
    width: 8em;
    text-align: center;
    border-radius: 1em;
    background-color: rgb(255, 217, 0);
    border: 1px solid rgb(203, 203, 203);

    &:hover{
        cursor: pointer;
        opacity: 75%;
    }
}
