.ourwork {
  height: min-content;
  padding: 50px 20px;
  padding-top: 5vw;
  text-align: center;
  color: rgb(255, 217, 0);
  background-color: white;
  overflow: hidden;
}

.ourwork-title {
  font-size: 3.5em;
  font-weight: bold;
  /* margin-bottom: 40px; */
  color: rgb(255, 217, 0);
}

.ourwork-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  perspective: 1000px;
}

.ourwork-left {
  width: 45vw;
  transform-style: preserve-3d;
}

.ourwork-right {
  width: 45vw;
  transform-style: preserve-3d;
}

.ourwork-img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  filter: brightness(70%);
  position: relative;
  z-index: 0;
}

.ourwork-card:hover .ourwork-img {
  opacity: 75%;
}

.ourwork-card {
  position: relative;
  cursor: pointer;
}

.ourwork-card h1 {
  position: absolute;
  color: white;
  font-size: 5vw;
  top: 30%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.ourwork-card-left {
  box-shadow: -10px 2px 40px rgb(0, 0, 0, 0.5);
  height: 60vh;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 2rem;
  overflow: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translateX(-300);
  will-change: transform, opacity;
  opacity: 0;
  background-color: white;
  color: #000;
}

.ourwork-card-right {
  box-shadow: 10px 2px 40px rgb(0, 0, 0, 0.5);
  height: 60vh;
  width: 100%;
  margin-top: 5rem;
  border-radius: 2rem;
  overflow: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translateX(300);
  will-change: transform, opacity;
  opacity: 0;
}

html,
body,
#root {
  transform-style: preserve-3d;
}