.service-page {
    height: max-content;
    width: 100%;
}

.service-page-top {
    height: 40vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
}

.service-page-top h1 {
    text-align: start;
    padding: 0;
    margin: 0;
    font-size: 4vw;
}

.service-page-top p {
    color: white;
    width: 50%;
    font-size: 1.5vw;
    font-weight: 100;
}

.service-page-bottom{
    padding: 5vw 3vw;
    color:black;
}

.service-page-bottom h1{
    color: rgb(83, 83, 83);
    font-size: 3vw;
    margin: 0;
    padding: 0;
}

.service-page-bottom p{
    color: black;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.point{
    background-color: rgba(194, 194, 194, 0.211);
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 0.5vw 2vw;
    padding-bottom: 2vw;
}

.service-page-bottom-points{
    gap: 3vw;
    display: flex;
    flex-direction: row;
}

.service-page-bottom-points h3{
    color: rgb(41, 41, 41);
    width: max-content;
}

.service-page-bottom-points h4{
    margin-top: 0.5vw;
    margin-bottom: 0;
}

.service-page-bottom-points p{
    width: 100%;
    word-break: keep-all;
}

.service-page-bottom-points ul li{
    
    color: black;
}

.service-page-bottom-points ul{
    margin-top: 0.5vw;
}