.clients-section {
  background-color: white;
}

.clients-container {
  margin: 0 auto;
  padding: 0 15px 50px 15px;
}

.section-title {
  color: rgb(255, 217, 0);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 600;
}

.clients-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  margin: 0 auto;
}

.client-card {
  border-radius: 10px;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.client-card:hover {
  scale: 1.05;
  cursor: pointer;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.3);
}

.client-logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


@media (max-width: 1024px) {
  .section-title {
    font-size: 2rem;
  }

  .client-card {
    width: 8rem;
    height: 8rem;
  }
}

@media (max-width: 768px) {
  .clients-container {
    padding: 0 10px 40px 10px;
  }

  .section-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .client-card {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 1.5rem;
  }

  .client-card {
    width: 10rem;
    height: 10rem;
  }
}
