@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: rgb(255, 217, 0);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}


* a {
  all: unset;
  cursor: pointer;
}